<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field >
      <input
        matInput
        type="text"
        placeholder="ایمیل"
        ngModel
        email
        required
        name="email"
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >ایمیل نباید خالی باشد</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >ایمیل نامعتبر است</mat-error
      >
    </mat-form-field>

    <mat-form-field hintLabel="رمز عبور حداقل باید شش کاراکتر داشته باشد.">
      <input
        matInput
        type="text"
        placeholder="رمز عبور"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <mat-hint align="end">{{ pwInput.value.length }} / 6</mat-hint>
      <mat-error>رمز عبور حداقل باید شش کاراکتر داشته باشد.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="تاریخ تولد"
        ngModel
        name="birthday"
        required
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel name="agree" required color="primary"
      >با شرایط و ضوابط موافقم</mat-checkbox
    >

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      ثبت نام
    </button>
  </form>
</section>
