<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <section>
    <h1>فعالیت کنید</h1>
    <p>
      هیچی مهم تر از سلامتی نیست و ورزش شاه کلید طول عمر زیاد و یه زندگی سالمه
      پس تا میتونید فعالیت کنید و به ورزش ادامه بدید
    </p>
  </section>
  <section>
    <h1>به اشتراک بذارید</h1>
    <p>
      میتونید تمرین کنید و نتیجه و پیشرفت خودتون رو با دوستانتون به اشتراک
      بذارید تا اونها هم تشویق بشن با شما ورزش رو شروع کنن
    </p>
  </section>
  <section>
    <h1>به چالش بکشونید</h1>
    <p>
      توی برنامه ما انواع و اقسام تمرینات مختلف با شدت های مختلف وجود داره که هر
      روز با توجه به تواناییتون میتونید از اونها استفاده کنید
    </p>
  </section>
</div>
